* {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  height: 100vh;
  background: #062c36;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cal {
  background: #0a4aa3;
  padding: 20px;
  border-radius: 10px;
}
.cal form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  color: white;
  cursor: pointer;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal {
  width: 125px;
}
form input.operator {
  color: #33ffd8;
}
